@use "@styles/icons.scss";

$dialog-padding: 2em;
$dialog-background: white;
$dialog-z-index: 1;
$dialog-border-radius: 50%;
$dialog-box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
$dialog-transition: background 0.5s linear;
$dialog-close-button-size: 2em;
$dialog-close-button-border-mobile-width: 4px; 
$dialog-close-button-border: 8px solid #fff;
$dialog-overlay-background: rgba(0, 0, 0, 0.7);
$scrollbar-width: 0.5em;
$scrollbar-thumb-color: #ddd;
$scrollbar-thumb-hover-color: #aaa;
$scrollbar-thumb-active-color: #888;

$dialog-width: 80vw;
$dialog-max-width: 50rem;
$dialog-max-height: 45rem;

.h5p-text-dialog {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: $dialog-width;
  max-width: $dialog-max-width;
  max-height: $dialog-max-height;
  background: $dialog-background;
  z-index: $dialog-z-index;
  padding: $dialog-padding;
  display: flex;
  box-sizing: border-box;

  .nav-button-wrapper {
    top: calc(-1 * $dialog-padding / 2);
    right: calc(-1 * $dialog-padding / 2);
    left: auto;
    box-shadow: $dialog-box-shadow;
    border: $dialog-close-button-border;
    background-color: #ebebeb;
    border-radius: $dialog-border-radius;
    transition: $dialog-transition;
  }

  .nav-button-wrapper:hover {
    background: #d6d6d6;
  }

  .outer-nav-button,
  .nav-button {
    background: transparent;
  }

  .close-button-wrapper {
    line-height: 1;
    position: absolute;
    font-size: 1em;
    box-sizing: content-box;
    width: $dialog-close-button-size;
    height: $dialog-close-button-size;
    padding: 0;

    top: calc(-1 * $dialog-padding / 2);
    right: calc(-1 * $dialog-padding / 2);

    box-shadow: $dialog-box-shadow;
    border: $dialog-close-button-border;
    background-color: #ebebeb;
    border-radius: $dialog-border-radius;
    transition: $dialog-transition;
    z-index: $dialog-z-index + 1;
    cursor: pointer;

    &:hover {
      background: #d6d6d6;
    }

    &:before {
      font-family: "360-image";
      content: icons.$close;
      vertical-align: text-bottom;
    }
    @media (max-width: 768px) {
      font-size: 0.75em;
      border: $dialog-close-button-border-mobile-width solid #fff; 
      top: 0;
      right: 0;
      width: calc($dialog-close-button-size / 2);
      height: calc($dialog-close-button-size / 2);
    }
  }

}

.h5p-medium-tablet-size .h5p-text-dialog {
  width: 90vw; // Adjust width for medium tablet size
  max-width: $dialog-max-width;
  margin: 0;
  padding: calc($dialog-padding / 2); // Reduce padding for smaller screens
}

.h5p-text-content {
  flex: 1;
  max-height: 100%;
  max-width: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: $scrollbar-width;
    background: $dialog-background;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;

    &:hover {
      background: $scrollbar-thumb-hover-color;
    }

    &:active,
    &:focus {
      background: $scrollbar-thumb-active-color;
    }
  }
}

.h5p-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $dialog-overlay-background;
  z-index: $dialog-z-index + 3;
}
