
@use "../styles/icons";

.model-viewer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    padding: 5px;
  }

  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .mv-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 16/9;
  }

  .mv-list {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    border-left: 1px solid #e0e0e0;
  }


  .h5p_text:before {
    content: 'T';
    font-family: 'H5PFontAwesome4';
  }

  .h5p_advancedtext:before {
    content: 'T';
    font-family: 'H5PFontAwesome4';
  }

  .h5p_image:before {
    content: icons.$image;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_audio:before {
    content: icons.$audio;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_video:before {
    content: icons.$video;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_questionnaire:before {
    content: icons.$questionnaire;
    font-family: 'H5PFontAwesome4';
    margin-top:2px;
  }

  .h5p_file_for_download:before {
    content: icons.$fileForDownload;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_go_to_scene:before {
    content: icons.$goToScene;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_imageslider:before,
  .h5p_singlechoiceset:before,
  .h5p_summary:before {
    font-family: "H5PFontIcons";
    content: icons.$summary;
  }

  .h5p_singlechoiceset:before {
    content: icons.$singleChoiceSet;
  }

  .h5p_imageslider:before {
    content: icons.$imageSlider;
  }

  .button {
    background: #2579C6;
    background-image: linear-gradient(#3080c9 50%, transparent 50%, transparent);
    border-color: #1f67a8;
    text-transform: uppercase;
    border-radius: .25em;    border: 1px solid #d0d0d1;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;    display: inline-block;
    // font-family: "H5PFontIcons";
    width: auto;
    margin: 10px 0 0 0;
    padding: 5px 20px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-weight: 600;

    // on disabled
    &:disabled {
      background: #d0d0d1;
      background-image: linear-gradient(#d0d0d1 50%, transparent 50%, transparent);
      border-color: #d0d0d1;
      color: #fff;
      cursor: not-allowed;
    }
  }


  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
