
@use "../styles/icons";

.model-viewer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    padding: 5px;
  }

  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .mv-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    aspect-ratio: 16/9;
  }

  .mv-list {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    border-left: 1px solid #e0e0e0;
  }


  .h5p_text:before {
    content: 'T';
    font-family: 'H5PFontAwesome4';
  }

  .h5p_advancedtext:before {
    content: 'T';
    font-family: 'H5PFontAwesome4';
  }

  .h5p_image:before {
    content: icons.$image;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_audio:before {
    content: icons.$audio;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_video:before {
    content: icons.$video;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_questionnaire:before {
    content: icons.$questionnaire;
    font-family: 'H5PFontAwesome4';
    margin-top:2px;
  }

  .h5p_file_for_download:before {
    content: icons.$fileForDownload;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_go_to_scene:before {
    content: icons.$goToScene;
    font-family: 'H5PFontAwesome4';
  }

  .h5p_imageslider:before,
  .h5p_singlechoiceset:before,
  .h5p_summary:before {
    font-family: "H5PFontIcons";
    content: icons.$summary;
  }

  .h5p_singlechoiceset:before {
    content: icons.$singleChoiceSet;
  }

  .h5p_imageslider:before {
    content: icons.$imageSlider;
  }
