// H5PFontAwesome4
$video: "\f008";
$audio: "\f028";
$image: "\f03e";
$questionnaire: "\f022";
$fileForDownload: "\f019";

// 360-image
$scene: "\e915";
$goToScene: "\f124";

$dropdown: "\f124";
$setStartScene: "\f0e0";
$openScene: "\f124";
$edit: "\f040";
$delete: "\f1f8";

$threeSixtyScene: "\e902";
$staticScene: "\e90b";

$noscene: "\e900";

// H5PFontIcons
$summary: "\e992";
$singleChoiceSet: "\e993";
$imageSlider: "\e921";

$close: "\2715";
$noicon: "\1F605";
$audioOn: "\e90a";
$audioOff: "\e904";
$sceneDescription: "\e909";

// 360-image
$info: "\e906";
$question: "\e905";
$goToStart: "\e917";
$goBack: "\e903";
$reset: "\e901";
$submitdialog: "\2744";
$info-mark: "\e91a";
$lock-icon: "\e91b";
$unlock-icon: "\e91c";
$arrow-horiz-scale: "\e91d";
$arrow-verti-scale: "\e91e";
$text-block: "\e91f";

$triangleArrow: "\e913";
$scoreSummary: "\e912";

$checkmark: "\2713";

$crossword: "\e924";
$multiChoice: "\e605";
$blanks: "\e994";
